* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100vh;
    width: 100%;
}

.action-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.action-container .filter,
.action-container .delete-all {
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(41, 28, 41);
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.action-container .filter:hover {
    background-color: rgb(61, 48, 61);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}


.filter:hover .dropdown-container {
    display: block;
}

.dropdown-container {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* add this line */
}

.dropdown-container a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-container a:hover {
    background-color: #ddd;
}

.show-dropdown {
    display: block;
}

.action-container .delete-all {
    background-color: rgb(182, 103, 182);
}

.action-container .delete-all:hover {
    background-color: rgb(202, 123, 202);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

table {
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    border-radius: 10px;
    border-spacing: 0;
}

table tr {
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 10px;
}

table tr th {
    text-align: left;
    padding: 10px;
    background: rgb(200, 199, 225);
    font-weight: 500;
    font-size: 0.9rem;
}

table tr th:first-child {
    border-top-left-radius: 10px;
}

table tr th:last-child {
    border-top-right-radius: 10px
}

table tr td {
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    color: #2a2727;

    overflow: hidden;
}

table tr td {
    text-align: left;
}

table tr th:nth-child(1) {
    width: 50%;
}

table tr th:nth-child(2) {
    width: 20%;
}

table tr th:nth-child(3) {
    width: 15%;
}

table tr th:nth-child(4) {
    width: 20%;
}

table tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

table .edit-btn {
    background-color: rgb(211, 226, 82);
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

table .edit-btn i {
    font-size: 1.2rem;
    color: black;
}

table .done-btn {
    background-color: rgb(88, 206, 137);
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

table .done-btn i {
    font-size: 1.8rem;
    color: black;
}

table .remove-btn {
    background-color: rgb(250, 133, 133);
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

table .edit-btn,
table .done-btn,
table .remove-btn {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

table .edit-btn:hover {
    background-color: rgb(191, 206, 62);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

table .done-btn:hover {
    background-color: rgb(68, 186, 117);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

table .remove-btn:hover {
    background-color: rgb(230, 113, 113);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

table .remove-btn i {
    font-size: 1.2rem;
    color: black;
}


main {
    height: 80%;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    border-radius: 20px;
}


main h1 {
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
    color: #fff;
    background-color: rgb(182, 103, 182);
    border-radius: 20px 20px 0 0;
}



/* editor design */
.tasks-editor {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 50px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-editor input {
    width: fit-content;
    height: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid rgb(182, 103, 182);
    outline: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    margin-right: 10px;
}

.tasks-editor input:focus {
    border: 2px solid rgb(182, 103, 182);
}

.tasks-editor input:nth-child(1) {
    width: 400px;
}

.tasks-editor button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(182, 103, 182);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-editor button box-icon {
    width: 70%;
    height: 70%;
    display: flex;

}


.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}

.activate-overlay {
    display: block;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 3;
    display: none;
}


.activate-edit-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-modal input {
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid rgb(182, 103, 182);
    outline: none;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
}

.edit-modal input:focus {
    border: 2px solid rgb(182, 103, 182);
}

.edit-modal .edit-task-name {
    width: 60%;
}

.edit-modal .edit-task-date {
    width: 25%;
}

.edit-modal button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(182, 103, 182);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.edit-modal button box-icon {
    width: 70%;
    height: 70%;
    display: flex;

}

.edit-modal button:hover {
    background-color: rgb(202, 123, 202);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}